/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* -------------Banner------------- */
.banner {
    display: flex;
    border-radius: 20px;
    background-color: rgba(22, 22, 22, 1);
    margin: 30px 0;
}

.banner-content {
    width: 50%;
    padding: 50px;
}

.banner-content h1 {
    color: white;
    font-size: 60px;
    padding-right: 50px;
}

.banner-content p {
    color: white;
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    background-color: rgba(221, 0, 0, 1);
    padding: 15px 50px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

span {
    text-align: center;
    padding-left: 10px;
}

.banner-pic {
    width: 50%;
}

.banner-pic img {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.link-up {
    width: 210px;
    height: 240px;
    background-color: rgba(22, 22, 22, 1);
    text-align: center;
    border-radius: 10px;
    margin: 0 12px;
    padding-left: 40px;
}

.link-up a {
    text-decoration: none;
}

.btn-1,
.btn-2,
.btn-3 {
    padding: 12px 25px;
    background-color: white;
    margin-right: 20PX;
    margin-top: 20px;
    display: block;
    width: 122px;
    height: 24px;
    border-radius: 10px;
    color: black;
}

.btn-1 {
    background-color: #DD0000;
    color: aliceblue;

}

/* ------------ Section ------------*/
section {
    display: flex;
    margin: 120px 0px;
}

.transfer-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer-blog {
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 10px;
}

#tnfr {
    margin-top: 15px;
    height: 30px;
    width: 80px;
}

.poster img {
    width: 100%;
}

.poster-info {
    margin: 0px 20px;

}

.poster-info h6 {
    font-size: 16px;
}

.poster-icons {
    display: flex;
    align-items: center;
    margin: 20px;

}

.poster-icons span {
    margin-right: 25px;
}

/*---------------- Footer section ------------------- */
.goal {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    background-color: rgba(22, 22, 22, 1);
}

hr {
    width: 1140px;
    height: 0px;
    color: grey;
    background-color: rgba(22, 22, 22, 1);

}

.contact {
    display: flex;
    justify-content: center;
    background-color: rgba(22, 22, 22, 1);
    color: aliceblue;
}

.contact h4 {
    padding: 20px;
}

.social-icon {
    text-align: center;
    font-size: 30px;
    background-color: rgba(22, 22, 22, 1);
    color: aliceblue;
}

.social-icon i {
    padding: 30px 20px;
}

.social-icon i:hover {
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    color: #FF5D5D;
}

@media screen and (max-width:576px) {
    .container {
        width: 260px;
        text-align: center;
    }

    .banner {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .all-button {
        grid-template-rows: repeat(1, 1fr);
    }

    .transfer-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        flex-direction: column;
    }

    .contact {
        grid-template-columns: repeat(1, 1fr);
    }

    .social-icon {
        grid-template-columns: repeat(1, 1fr);
    }

}