/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* -------------Banner------------- */
.banner {
    display: flex;
    border-radius: 20px;
    background-color: rgba(22, 22, 22, 1);
    margin: 30px 0;
}

.banner-content {
    width: 50%;
    padding: 50px;
}

.banner-content h1 {
    color: white;
    font-size: 60px;
    padding-right: 50px;
}

.banner-content p {
    color: white;
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    background-color: rgba(221, 0, 0, 1);
    padding: 15px 50px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

span {
    text-align: center;
    padding-left: 10px;
}

.banner-pic {
    width: 50%;
}

.banner-pic img {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.all-button {
    width: 245px;
    height: 220px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(22, 22, 22, 1);
}

.button-white {
    background-color: aliceblue;
    color: rgba(22, 22, 22, 1);
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-weight: 700px;
}

.button-white:hover {
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    color: aliceblue;
}

.button-red {
    background-color: rgba(221, 0, 0, 1);
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    margin: 15px;
    width: 200px;
    height: 50px;
    font-weight: 700px;
}

.button-red:hover {
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    color: rgba(221, 0, 0, 1);
}

/* ------------ Section ------------*/
section {
    display: flex;
    margin: 120px 0px;
}

.poster {
    display: flex;
    justify-content: space-between;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer-blog {
    margin-left: 25px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 10px;
}

.flag {
    display: flex;
}

.flag img {
    width: 100%;
    position: relative;
}

#tnfr {
    margin-top: 15px;
    height: 30px;
    width: 80px;
}

.poster img {
    width: 100%;
}

.poster-info {
    margin: 0px 20px;

}

.poster-info h6 {
    font-size: 16px;
}

.poster-icons {
    display: flex;
    align-items: center;
    margin: 20px;

}

.poster-icons span {
    margin-right: 25px;
}

/*---------------- Footer section ------------------- */
.goal {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    background-color: rgba(22, 22, 22, 1);
}

hr {
    width: 1140px;
    height: 0px;
    color: grey;
    background-color: rgba(22, 22, 22, 1);

}

.contact {
    display: flex;
    justify-content: center;
    background-color: rgba(22, 22, 22, 1);
    color: aliceblue;
}

.contact h4 {
    padding: 20px;
}

.social-icon {
    text-align: center;
    font-size: 30px;
    background-color: rgba(22, 22, 22, 1);
    color: aliceblue;
}

.social-icon i {
    padding: 30px 20px;
}

.social-icon i:hover {
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    color: #FF5D5D;
}


@media screen and (max-width:576px) {
    .container {
        width: 260px;
        text-align: center;
    }

    /* banner responsive */
    .banner {
        display: block;
    }

    .banner {
        margin: 34px;
    }

    .banner-content h1 {
        font-size: 18px;
        padding-top: 24px;

    }

    .banner-content p {
        font-size: 8px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .banner-content a {
        padding: 8px 12px;
        font-size: 12px;
    }

    .banner-pic {
        height: 50vh;
        width: 100%;
        margin-top: -20px;
    }

    /* matches news responsive */
    section {
        display: block;
        padding-top: 10px;
    }

    .all-button {
        width: 260px;
        height: 140px;
        background-color: white;
        text-align: center;
        border-radius: 10px;
    }

    .button-white,
    .button-red {
        padding: 5px 10px;
        margin-top: 14px;
        display: block;
        border-radius: 10px;
        border: 1px solid rgb(161, 154, 154);
    }

    .schedule {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        width: 130px;
        margin-top: 18px;
        margin-left: -20px;
    }

    .transfer-blog {
        text-align: left;
    }

    .flag {
        padding-left: 20px;
    }

    .flag img {
        width: 90px;
    }

    .transfer-blog h4 {
        font-size: 12px;
        text-align: center;
    }

    .news_info {
        font-size: 8px;
        margin: 10px 0;

    }

    /* footer resposive */

    footer {
        text-align: center;
        margin-top: 80px;
        color: white;
        padding-bottom: 30px;
    }

    .goal {
        font-size: 30px;
        font-weight: 600px;
        padding-top: 60px;

    }

    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 334px;
        margin: 30px auto;
    }

    .footer-item ul {
        display: block;

    }

    .footer-item ul li {
        margin-bottom: 34px;

    }

    .footer-item a {
        text-decoration: none;
        color: aliceblue;
    }

    .social-icon {
        display: block;
    }
}